.menu {
  padding: 12px;
}

.menu__title {
  text-align: center;
  color: $backColor;
}

.menu__item {
  clear: both;
}

.menu__item-title {
  font-weight: bold;
  float: left;
}

.menu__item-price {
  font-weight: bold;
  float: right;
}