.nav {
  padding: 8px 12px;
  background: $backColor;
  color: $fontColor;
}

.nav__mobile {
  ul {
    li {
      list-style:none;
      display: block;
      background: $backColor;
      text-align: center;
      width: 100%;
      height: 70px;
      font-size: 30px;
      padding: 5px 0px;
      margin: 15px auto;
    }

    a{
      text-decoration: none;
      color:white;
    }
  }
}

.nav__icon {
  font-size: 24px;
}

// Utility class for hiding things
.hidden {
  display: none !important;
}


.clearFix{
  clear: both;
  content:"";
  display: block;
}

@media only screen and (min-width:600px){
  .banner{
    display:block;
    margin-bottom: 30px;
  }

 @for $i from 1 to 12 {
   .col-#{$i}{
     width: 90% / 12 * $i;
     margin-right: 10% / 12 * $i;
     float:left;
   }
 }//end of for loop

} //media query 600px
